#letter-circles {
	position: relative;
	text-align: center;
	font-weight: 600;
	aspect-ratio: 1;
	line-height: 1;
	height: 100%;
	width: 100%;
}

#letter-circles div {
	position: absolute;
	aspect-ratio: 1;
	margin: auto;
	right: 0;
	left: 0;
}

#letter-circles div div {
	position: absolute;
	aspect-ratio: 1;
	margin: auto;
	width: 10px;
	height: 50px;
}

#letter-circles.circle::after {
	border: 1px solid currentColor;
	height: var(--circle-size);
	width: var(--circle-size);
	border-radius: 50%;
	position: absolute;
	aspect-ratio: 1;
	margin: auto;
	content: "";
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

#number-circle > div::after {
	border: 1px solid currentColor;
	height: var(--circle-size);
	width: var(--circle-size);
	position: absolute;
	border-radius: 50%;
	aspect-ratio: 1;
	margin: auto;
	content: "";
	right: 0;
	left: 0;
}