.page {
    justify-content: center;
	padding-bottom: 3rem;
    margin-bottom: -3rem;
	align-items: center;
	overflow-x: clip;
	display: flex;
}

.chart {
	grid-template-columns: repeat(5, 1fr);
	justify-self: center;
	text-align: center;
	position: relative;
	overflow: clip;
	line-height: 1;
	display: grid;
	width: 300px; 
	gap: 4px;
}

.key-cell {
	border: 2px solid #333;
	border-radius: 4px;
	aspect-ratio: 1;
}
