:root {
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-note: #2f81f7;
    --color-tip: #3fb950;
    --color-warning: #d29922;
    --color-severe: #db6d28;
    --color-caution: #f85149;
    --color-important: #a371f7;
  }
}


blockquote[class^="markdown-alert-"] {
	display: flex;
	flex-wrap: wrap;
	margin-inline: 0;
	align-content: start;
	padding-block: $base-padding * .5;
	padding-inline: $base-padding * 1;
	border: .2em solid color(--color-text, .5);
}

blockquote[class^="markdown-alert-"]:first-child {
	margin-block-end: $base-padding * 3;
}

blockquote[class^="markdown-alert-"]::before {
	font-size: $base-font-size * 1.25;
	font-weight: 500;
	flex: 1 0 100%;
}

blockquote[class^="markdown-alert-"] > :first-child {
	margin-top: 0
}

blockquote[class^="markdown-alert-"] > :last-child {
	margin-bottom: 0
}

blockquote[class^="markdown-alert-"] > p {
	font-size: $base-font-size * 1.1;
}

blockquote.markdown-alert-note::before {
	content: '⚠ Note!';
}
