:root {
  	--color-tip: #{to-rgb(#1a7f37)};
	--color-note: #{to-rgb(#0969da)};
	--color-caution: #{to-rgb(#9a6700)};
	--color-warning: #{to-rgb(#d1242f)};
	--color-important: #{to-rgb(#8250df)};
}

@media (prefers-color-scheme: dark) {
  	:root {
		--color-tip: #{to-rgb(#3fb950)};
		--color-note: #{to-rgb(#2f81f7)};
		--color-caution: #{to-rgb(#d29922)};
		--color-warning: #{to-rgb(#f85149)};
		--color-important: #{to-rgb(#a371f7)};
  	}
}


blockquote[class^="markdown-alert-"] {
	border: .2em solid color(--color-text, .5);
	margin-block-start: $base-padding * .75;
	margin-block-end: $base-padding * .75;
	padding-block: $base-padding * .5;
	box-sizing: border-box;
	align-content: start;
	margin-inline: 0;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	
	&:first-child {
		margin-block-end: $base-padding * 3;
	}

	&::before {
		padding-inline: $base-padding * 1;
		font-size: $base-font-size * 1.25;
		font-weight: 500;
		width: 100%;
	}

	& > :first-child {
		margin-top: 0
	}

	& > :last-child {
		margin-bottom: 0
	}

	& > p {
		padding-inline: $base-padding * 1;
		font-size: $base-font-size * 1.1;
	}
}

blockquote.markdown-alert-tip {
	border-color: color(--color-tip, .5);
	background-color: color(--color-tip, .25);

	&::before {
		content: '⚠ Tip';	
	}
}

blockquote.markdown-alert-note {
	border-color: color(--color-note, .5);
	background-color: color(--color-note, .25);

	&::before {
		content: '⚠ Note';
	}
}

blockquote.markdown-alert-caution {
	border-color: color(--color-caution, .5);
	background-color: color(--color-caution, .25);

	&::before {
		content: '⚠ Caution';
	}
}

blockquote.markdown-alert-warning {
	border-color: color(--color-warning, .5);
	background-color: color(--color-warning, .25);

	&::before {
		content: '⚠ Warning';
	}
}

blockquote.markdown-alert-important {
	border-color: color(--color-important, .5);
	background-color: color(--color-important, .25);

	&::before {
		content: '⚠ Important';
	}
}
