article#content {
    img {
        max-width: 100%;
    }

    dl {
        display: grid;
        padding-block-start: 1px;
        grid-column-gap: $base-padding;
        grid-template-columns: max-content;

        dt,
        dd {
            margin: 0;
        }

        dt {
            grid-row: span 2;
            margin-block-start: -1px;
            margin-block-end: $base-padding * 0.5;
            padding-inline-end: $base-padding * 0.5;
            padding-block-start: $base-padding * 0.25;
            border-top: 1px dashed currentColor;

            &:not(.wrap) {
                max-width: 70vw;
            }

            &+dd {
                padding-block-start: $base-padding * 0.25;
            }

            strong {
                display: block;
            }
        }

        dt + dd:has(+dt) {
            grid-row: span 2;
        }

        dd {
            display: flex;
            grid-column: 2;
            padding-block-end: $base-padding * 0.5;

            &:has(+dt) {
                padding-block-end: $base-padding * 0.75;

                &:has(blockquote) {
                    margin-block-end: $base-padding * 0.5;
                }
            }

            blockquote {
                display: contents;
                margin-inline-start: 0;
                margin-block-start: $base-padding * 0.1;

                // Checkbox rating system.
                &:has(input[type="checkbox"]) {
                    input[type="checkbox"] {
                        display: none;
                    }

                    ul {
                        display: contents;
                        padding: 0;
                        border: 0;
                    }

                    li {
                        width: 1em;
                        align-items: center;
                        display: inline-flex;

                        &:has(input[type="checkbox"]:checked):before {
                            content: "\2605";
                            line-height: 1;
                        }

                        &:has(input[type="checkbox"]:not(:checked)):before {
                            content: "\2606";
                            line-height: 1;
                        }
                    }
                }
            }
        }
        
        @media (max-width: ($small-width - 1px)) {
            grid-template-columns: auto;

            dt, dd, div {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            dt {
                margin-block: 0;
                border-top: none;
            }

            dd {
                margin-inline-start: revert;

                &:has(+dt) {
                    padding-block-end: $base-padding * 0.5;

                    &:has(blockquote) {
                        margin-block-end: $base-padding * 0.25;
                    }
                }
            }
        }

        dt.wrap ~ dd, dd.wrap {
            grid-column: 1 / 3;
        }

        &.striped {
            dt, dd {
                margin-left: 0;
                padding: .3rem .5rem;

                &:nth-of-type(2n+1) {
                    background-color: rgba(0, 0, 0, .3);
                }
            }
        }
    }
}
