article#content {
    dl {
        display: grid;
        grid-column-gap: $base-padding;
        grid-template-columns: max-content;

        dt,
        dd {
            margin: 0;
        }

        dt {
            padding-inline-end: $base-padding * 0.5;

            &:not(.wrap) {
                max-width: 70vw;
            }
        }

        dd {
            grid-column: 2;
            padding-block-end: $base-padding * 0.25;

            &:has(+dt) {
                padding-block-end: $base-padding * 0.75;

                &:has(blockquote) {
                    margin-block-end: $base-padding * 0.5;
                }
            }

            blockquote {
                margin-inline-start: 0;
                margin-block-start: $base-padding * 0.1;
            }
        }

        dt.wrap,
        dd.wrap,
        div.wrap {
            column-span: 2;
        }
        
        @media (max-width: ($small-width - 1px)) {
            grid-template-columns: auto;

            dt, dd, div {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            dd {
                margin-inline-start: revert;

                &:has(+dt) {
                    padding-block-end: $base-padding * 0.5;

                    &:has(blockquote) {
                        margin-block-end: $base-padding * 0.25;
                    }
                }
            }
        }

        /*&.striped {
        dt,
        dd {
            margin-left: 0;
            padding: .3rem .5rem;

            &:nth-of-type(2n+1) {
                background-color: rgba(0, 0, 0, .3);
            }
            }
        }*/
    }
}