blockquote> :only-child {
	border-left: .2em solid color(--color-text, .5);
	padding-left: .5em;
}

/******** Checkbox Rating System. ********/
dd:has(blockquote input[type="checkbox"]) {
	margin-block-start: 0;
	align-items: start;
	display: flex;
}

dd + dd:has(blockquote input[type="checkbox"]) {
	margin-block-start: $base-padding * -0.5;
}

blockquote:has(input[type="checkbox"]) {
	display: contents;
	margin-inline-start: 0;
	margin-block-start: $base-padding * 0.1;

	input[type="checkbox"] {
		display: none;
	}

	ul {
		display: contents;
		padding: 0;
		border: 0;
	}

	li {
		width: 1em;
		align-items: center;
		display: inline-flex;
		list-style-type: none;
		font-size: $base-padding * 1.25;

		&:has(input[type="checkbox"]:checked):before {
			content: "\2605";
			line-height: 1;
		}

		&:has(input[type="checkbox"]:not(:checked)):before {
			content: "\2606";
			line-height: 1;
		}
	}
}

// Title header for blockquotes.
h6:has(+blockquote)  {
	margin-inline-start: $site-padding * 3.25;
	margin-block-end: $base-padding * -1;
}

// Attribution footer for blockquotes.
blockquote+h6 {
	font-size: $base-font-size * 0.75;
	margin-block-start: $base-padding * 0.25;
	margin-inline-start: $site-padding * 3.25;
}