// Filename header for code blocks.
h6:has(+pre) {
	color: color(--color-code);
	background-color: color(--color-code-bg);
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	margin-block-start: $base-padding / 2;
	margin-block-end: $base-padding / -2;
	font-size: $base-font-size * 0.9;
	padding-block: $base-padding / 2;
	padding-inline: $base-padding;
	max-width: max-content;

	&:empty {
		display: none;
	}
}

// Attribution footer for code blocks.
pre+h6 {
	color: color(--color-code);
	background-color: color(--color-code-bg);
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	font-size: $base-font-size * 0.75;
	padding-block: $base-padding / 2;
	padding-inline: $base-padding;
	margin-block-start: 0;
	float: right;
	
	&:empty {
		display: none;
	}

    & > a {
        color: color(--color-code-link);

        &:focus,
        &:hover {
            color: color(--color-code-link, 0.5);
        }

        &:visited {
            color: color(--color-code-link-visited);
        }
    }
}

pre {
	cursor: pointer;
	overflow-x: auto;
	margin-block-end: 0;
	padding-block: $base-padding;
	padding-inline: $base-padding * 1.25;
	margin-block-start: $base-padding / 2;
	scrollbar-color: color(--color-scrollbar, .5) color(--color-scrollbar-bg);
	scrollbar-width: 1em;

	&:has(+pre) {
		// More bottom padding for the scrollbar.
		padding-block-end: $base-padding * 0.75;
	}

	+pre {
		margin-block-start: 0;
		padding-block-start: $base-padding * 0.25;
	}

	& > code {
		margin: 0;
		padding: 0;

		&[data-lang]::before {
			// Display the code lang as the shell context
			content: attr(data-lang) "$";
			color: color(--color-code, 0.75);
			padding-right: $base-padding;
		}

		&[data-lang^="."]::before {
			display: none;
		}
	}
}

code {
	background-color: color(--color-code-bg);
	color: color(--color-code);
    border-radius: .25em;
	padding-inline: .2em;
	padding-bottom: .1em;
    margin-inline: .1em;
	font-size: 1.25em;
	margin-bottom: 0;
	cursor: pointer;
}

// Copy animation for inline code spans.
code.copied:not(:has(span)) {
	animation-duration: 500ms;
	// We're using linear for a smoother
	// ... animation, otherwise ease-in.
	animation-timing-function: linear;
	animation-name: copy-inline;
}

// Copy animation for code blocks.
pre.copied > code > span {
	animation-delay: 250ms;
	animation-duration: 250ms;
	animation-fill-mode: backwards;
	// We're using linear for a smoother
	// ... animation, otherwise ease-in.
	animation-timing-function: linear;
	animation-name: copy-block;
}

@keyframes copy-inline {
	0% {
		text-underline-offset: 1px;
		text-underline-position: under;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 4px;
		text-decoration-line: underline;
		text-decoration-color: color(--color-code);
	}

	100% {
		text-underline-offset: -1.65em;
		text-underline-position: under;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 4px;
		text-decoration-line: underline;
		text-decoration-color: transparent;
	}
}

@keyframes copy-block {
	0% {
		text-underline-offset: 0;
		text-underline-position: under;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 3px;
		text-decoration-line: underline;
		text-decoration-color: color(--color-code);
	}

	100% {
		text-underline-offset: -1.65em;
		text-underline-position: under;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 3px;
		text-decoration-line: underline;
		text-decoration-color: transparent;
	}
}
