// Site footer
#footer {
  display: flex;
  position: relative;
  flex-wrap: wrap-reverse;
  column-gap: $base-padding;
  margin-inline: $base-padding;
  padding-block-start: $base-padding;
  margin-block-start: $base-padding * 3;
  border-top: 2px solid color(--color-text);

  > .footer-item {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

// Tera Context
#templating-context {
	margin-inline: $base-padding;
	margin-block-start: $base-padding;
}