.footnotes {
	border-top: 2px dotted color(--color-text);
	padding-block-start: $base-padding * 0.5;
	margin-top: $base-padding * 2.5;

	.footnotes-list {
		margin-block-end: $base-padding * -1.5;
	}
}