// Site footer
footer#footer {
  display: flex;
  position: relative;
  flex-wrap: wrap-reverse;
  
  margin-top: $base-padding;
  padding-top: $base-padding;

  > #footer-border {
    border-top: 2px solid color(--color-text);
    position: absolute;
    right: $base-padding;
    left: $base-padding;
    top: 0;
  }

  > .footer-item {
    flex: 1;
    display: flex;
    justify-content: center;

    padding-left: $base-padding / 2;
    padding-right: $base-padding / 2;
  }
}