.defer {
  visibility: hidden;
}

.async {
  display: none;
}

.display--flex {
  display: flex;
}

.display--inline-flex {
  display: inline-flex;
}

.screen-large {
  display: none;
}

@media screen and (min-width: $large-width) {
  .screen-large {
    display: unset;
  }
}
