.defer {
  visibility: hidden;
}

.async {
  display: none;
}

.display--flex {
  display: flex;
}

.display--inline-flex {
  display: inline-flex;
}

@media screen and (max-width: ($large-width - 1px)) {
  .screen-large {
    display: none !important;
  }
}
