// Site header
header#header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: $base-padding * 0.1;

  .header-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: $base-padding;
    padding-right: $base-padding;
  }
}
