// Site header
#header {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-inline: $base-padding;
	row-gap: $base-padding * 0.5;
	column-gap: $base-padding * 2;

	.header-item {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// Section headers
.header-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	column-gap: $site-padding * 1.5;

	> :first-of-type {
		flex: 1;
		flex-grow: 2;
		min-width: $min-content-width;
	}

	> :last-of-type {
		flex: 1;
		min-width: $min-content-width;
	}
}

// Section headers
.header {
	.header-title {
		margin-top: $site-padding * 2;

		.site {
			display: inline-block;
		}

		.version {
			font-size: small;
		}

		+.subtitle {
			margin-block-start: $base-padding * 0.25;
		}
	}

	.header-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		min-width: $min-content-width;
	}

	#summary {
		width: 100%;

		.summary-item {
			line-height: 1.49;
			text-indent: $base-padding * -2;
			padding-inline-start: $base-padding * 2;

			.link {
				margin-inline-start: 0.1ch;
			}

			a {
				padding-block: 2px;
			}

			label {
				user-select: none;
				flex: 1 1 auto;			
			}

			&[data-type="range"] {
				align-items: center;
				column-gap: 1ex;
				flex-wrap: wrap;
				display: flex;

				input[type="range"] {
					margin-block-start: .5ex;
					flex: 99999 1 auto;
				}
			}

			&[data-type="text"] {
				align-items: center;
				column-gap: 1ex;
				flex-wrap: wrap;
				display: flex;

				input[type="text"] {
					margin-block-start: .5ex;
					flex: 99999 1 auto;
				}
			}

			&[data-type="checkbox"] {
				input[type="checkbox"] {
					vertical-align: text-bottom;
					scale: 1.25;
				}
			}
		}
	}
}
