// Sitemap
.sitemap {
  user-select: none;
  margin-block-start: $base-padding;

  // If we want the sitemap to span multiple columns.
  &.full {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  // Pad between submenus.
  & > menu, & > details {
    margin-block-end: 1em;
  }

  // Remove extra padding from direct descendants.
  & > .sitemap-list {
    padding-inline-start: $base-padding * 1.1;
  }

  // Keep details inline w/ submenus.
  .sitemap-list > details {
    margin-inline-start: -2ch;
  }
}

// Sitemap titles
h3:has(+ nav:empty) {
  visibility: hidden;
}

// Site content
main#main {
  position: relative;
  padding: $base-padding;

  // Content files
  article#content { 
    width: auto;

    *:not(li) {
      // Let the leafiest node scroll when there is a long word or link in that node
      overflow-x: auto;

      // Blend in the scrollbar better with code blocks and code spans
      scrollbar-width: 1em;
      scrollbar-color: color(--color-scrollbar, .5) color(--color-scrollbar-bg);
      &::-webkit-scrollbar {
        height: 1em;
        position: relative;
        background-color: color(--color-scrollbar-bg);
      }
      &::-webkit-scrollbar-thumb {
        border: .2em solid transparent;
        border-radius: $border-radius;
        background-clip: padding-box;
        background-color: color(--color-scrollbar, .5);
      }
    }
  }
}

@media screen and (min-width: $large-width) {
  // Move the table of contents to the left sidebar when the screen size is sufficiently large
  .sidebar-left {
    top: 0;
    position: absolute;
    width: $sidebar-width;
    left: -$sidebar-width - .5rem;
  }

  // Show the sitemap on the page template when the screen size is sufficiently large
  .sidebar-right {
    top: 0; 
    position: absolute;
    width: $sidebar-width;
    right: -$sidebar-width - .5rem;
  }
}

.header-wrap {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;

  > :first-of-type {
    flex: 1;
    flex-grow: 2;
    display: flex;
    min-width: $min-content-width;
  }

  > :last-of-type {
    flex: 1;
    min-width: $min-content-width;
  }
}

.header {
  .header-item {
    flex: 1;
    display: flex;
    min-width: $min-content-width;
  }

  #summary {
    width: 100%;
    
    .summary-item {
      text-indent: $base-padding * -2;
      padding-inline-start: $base-padding * 2;
    }
  }
}

.title {
  .site {
    display: inline-block;
  }
    
  .version {
    font-size: small;
  }

  + .subtitle {
    margin-top: 0;
  }
}