article[data-orientation="portrait"] {
	/* Subtract 25mm for page margins */
	--page-size: calc(11in - 25mm);
}

article[data-orientation="landscape"] {
	/* Subtract 25mm for page margins */
	--page-size: calc(8.5in - 25mm);
}

@media screen {
	article[data-orientation="portrait"] {
		margin-block: 10mm;

		& > :first-child {
			margin-block-start: 0 !important;
		}

		&::after {
			background: repeating-linear-gradient(to bottom, transparent 0in var(--page-size), rgba(var(--color-text), 0.25) var(--page-size) calc(var(--page-size) + 2px));
			position: absolute;
			height: 100%;
			width: 100%;
			content: '';
			top: 0;
		}
	}

	article[data-orientation="landscape"] {
		margin-block: 10mm;

		& > :first-child {
			margin-block-start: 0 !important;
		}

		&::after {
			background: repeating-linear-gradient(to bottom, transparent 0in var(--page-size), rgba(var(--color-text), 0.25) var(--page-size) calc(var(--page-size) + 2px));
			position: absolute;
			height: 100%;
			width: 100%;
			content: '';
			top: 0;
		}
	}
}

@media screen and (min-width: $body-width-max) {
	article[data-orientation="portrait"],
    article[data-orientation="landscape"] {
        margin-inline: 10mm;
    }
}

@media print {
	.page, .section {
		margin-inline-start: 3mm !important;
		margin-block-start: 0mm !important;
		margin-inline-end: 3mm !important;
		padding-block-end: 0 !important;
		margin-block-end: 0 !important;
		overflow: visible;
	}

	.context {
		justify-content: space-between;
		writing-mode: vertical-lr;
		display: flex !important;
		width: calc(100% - 3mm);
		letter-spacing: 0.1px;
		align-items: flex-end;
		position: absolute;
		font-size: 12px;
		height: 100%;
    }
}

/* @Page applies to app pages
 and must have a consistent 
 margin top and bottom */
@page {
	// For h# borders
	margin-left: 7mm;
	// Corner staples
	margin-top: 15mm;
	margin-right: 7mm;
	margin-bottom: 10mm;
}

.print {
    display: none;
}
