@media screen {
	.page[data-orientation="portrait"] {
		margin: 10mm;

		& > :first-child {
			margin-block-start: 0 !important;
		}

		&::after {
			--page-size: calc(11in - 20mm);
			background: repeating-linear-gradient(to bottom, transparent 0in var(--page-size), rgba(var(--color-text), 0.25) var(--page-size) calc(var(--page-size) + 2px));
			position: absolute;
			height: 100%;
			width: 100%;
			content: '';
			top: 0;
		}
	}

	.page[data-orientation="landscape"] {
		margin: 10mm;
		
		&::after {
			--page-size: calc(8.5in - 20mm);
			background: repeating-linear-gradient(to bottom, transparent 0in var(--page-size), rgba(var(--color-text), 0.25) var(--page-size) calc(var(--page-size) + 2px));
			position: absolute;
			height: 100%;
			width: 100%;
			content: '';
			top: 0;
		}
	}
}

@media print {
	.page, .section {
		margin-inline-start: 3mm !important;
		margin-inline-end: 0 !important;
		padding-block-end: 0 !important;
		margin-block: 0 !important;
	}

	.context {
        border-bottom: 1px solid color(--color-text, 0.75);
		margin-inline-start: 3mm !important;
		margin-block-end: 3mm !important;
		justify-content: space-between;
		display: flex !important;
		padding-bottom: 1mm;
		font-size: 12px;
		width: 100%;
    }
}

@page {
	margin-top: 7mm;
	margin-left: 7mm;
	margin-right: 10mm;
	margin-bottom: 10mm;
}

.print {
    display: none;
}
