// Searchbar styles
.search-container {
  > #search {
    color: color(--color-search);
    background-color: color(--color-search-bg);

    &::placeholder {
      color: inherit;
    }
  }

  > .search-results {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: $base-padding;
    right: $base-padding;
  
    color: color(--color-search);
    background-color: color(--color-search-bg);
    border-radius: $border-radius;
  
    .search-results__items {
      padding-block: $base-padding;
      padding-inline-end: $base-padding;
      padding-inline-start: $base-padding * 2;
      // Remove user-agent margin.
      margin-block-end: 0;
  
      li + li {
        margin-top: $base-padding;
      }
  
      .search-results__item {
        display: unset;
      }
    }
  }
}
