// Searchbar styles
.search-container {
  > #search {
    color: color(--color-search);
    background-color: color(--color-search-bg);

    &::placeholder {
      color: inherit;
    }
  }

  > .search-results {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
  
    color: color(--color-search);
    background-color: color(--color-search-bg);
    border-radius: $border-radius;
  
    .search-results__items {
      padding: $base-padding;
  
      li + li {
        margin-top: $base-padding;
      }
  
      .search-results__item {
        display: unset;
      }
    }
  }
}
