// Sitemap title
main > .sitemap-title {
	margin-block-start: $site-padding * 2;

	@media (min-width: $large-width) {
		margin-block-start: $site-padding * 3;
	}
}

// Sitemap titles
.sitemap-title:has(+ .sitemap:empty),
.sitemap-title:has(+ .sitemap > .sitemap-list:empty) {
	display: none;
}

// Sitemap
.sitemap {
	user-select: none;
	margin-block-start: $base-padding * 0.75;

	&.condensed {
		margin-block-start: $base-padding * 0.5;
	}

	// If we want the sitemap to span multiple columns.
	&.full {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	// Pad between submenus.
	& > menu, & > details {
		margin-block-end: 1em;
	}

	// Remove extra padding from direct descendants.
	& > .sitemap-list, li > .sitemap-list {
		padding-inline-start: $base-padding * 1.2;
	}

	.sitemap-list {
		li {
			&.current {
				font-weight: bold;
			}

			&.circle {
				list-style-type: circle;
			}

			&.square {
				list-style-type: square;
			}

			&.disclosure-open {
				list-style-type: disclosure-open;
			}

			&.disclosure-closed {
				list-style-type: disclosure-closed;
			}
		}

		// Keep details inline w/ submenus.
		& > details {
			margin-inline-start: -2ch;
		}
	}
}