// Sitemap titles
.sitemap-title:has(+ .sitemap:empty) {
  display: none;
}

// Sitemap
.sitemap {
  user-select: none;
  margin-block-start: $base-padding * 0.75;

  // If we want the sitemap to span multiple columns.
  &.full {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  // Pad between submenus.
  & > menu, & > details {
    margin-block-end: 1em;
  }

  // Remove extra padding from direct descendants.
  & > .sitemap-list, li > .sitemap-list {
    padding-inline-start: $base-padding * 1.1;
  }

  .sitemap-list {
    li.current {
      font-weight: bold;
    }

    // Keep details inline w/ submenus.
    & > details {
      margin-inline-start: -2ch;
    }
  }
}
