
/*
Element only styles
*/

html {
  min-height: 100%;
  display: flex;
  justify-content: center;
}
  
body {
  background-color: color(--color-bg);
  color: color(--color-text);
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  
  padding: 0;
  margin: $base-padding;
  width: 100%;
  max-width: 80rem;
  
  // Sticky footer
  min-height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

strong {
  display: inline-flex;
}

ul {
  margin-top: 0;
  padding-inline-start: $base-padding * 2;

  > li > :nth-child(1n+2):not(ul) {
    margin-block-start: 0; 
    margin-block-end: $base-padding; 
  } 
}

h1, h2, h3, h4, h5, p {
  margin-block-end: 0;
}

h1 { margin-block-start: $base-padding * 1.8; font-size: xx-large; }
h2 { margin-block-start: $base-padding * 1.4; font-size: x-large; }
h3 { margin-block-start: $base-padding * 1.2; font-size: larger; }
h4 { margin-block-start: $base-padding * 1.1; font-size: large; }
h5 { margin-block-start: $base-padding * 1.0; font-size: medium; }
p  { margin-block-start: $base-padding * 1.0; font-size: medium; }

h6 {
  // Filename header for code blocks
  color: color(--color-text);
  background-color: color(--color-code-bg);
  margin-block-start: $base-padding / 2;
  margin-block-end: $base-padding / -2;
  padding: ($base-padding / 2) $base-padding; 
  border-radius: $border-radius $border-radius 0 0;
  max-width: max-content;
  font-size: small;

  &:empty {
    display: none;
  }
}

pre + h6 {
  // Attribution footer for code blocks
  margin-block-start: 0;
  border-radius: 0 0 $border-radius $border-radius;
  float: right;
  font-size: x-small;

  &:empty {
    display: none;
  }
}

pre {
  padding: $base-padding;
  margin-block-start: $base-padding / 2;
  margin-block-end: 0;

  + pre {
    margin-block-start: 0;
    padding-top: 0;
  }

  > code[data-lang]::before {
    // Display the code lang as the shell context
    content: attr(data-lang) "$";
    color: color(--color-code, 0.75);
    padding-right: $base-padding;
  }
}

code {
  color: color(--color-code);
  font-size: large;
  margin-bottom: 0;
}

a {
  color: color(--color-link);

  &:focus,
  &:hover {
    color: color(--color-link, 0.5);
  }

  &:visited {
    color: color(--color-link-visited);
  }

  &.unstyle {
    color: unset
  }
}

summary {
    cursor: pointer;

    &:focus {
      outline: none;
    }
}

blockquote > :only-child {
  border-left: .2em solid color(--color-text, .5);
  padding-left: .5em;
}