
/*
Element only styles
*/

html {
  min-height: 100%;
  display: flex;
  justify-content: center;
}
  
body {
  background-color: color(--color-bg);
  color: color(--color-text);
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  
  padding: 0;
  margin: $base-padding;
  width: 100%;
  max-width: 80rem;
  
  // Sticky footer
  min-height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

strong {
  display: inline-flex;
}

h6 {
  color: color(--color-text) !important;
  font-size: unset;
  margin-block-end: 0;
  margin-bottom: 0 !important;
}

ul {
  padding-inline-start: $base-padding * 2;
}

code {
  color: color(--color-code);
}

a {
  color: color(--color-link);

  &:focus,
  &:hover {
    color: color(--color-link, 0.5);
  }

  &:visited {
    color: color(--color-link-visited);
  }
}

summary {
    cursor: pointer;

    &:focus {
      outline: none;
    }
}