/*
Element only styles
*/

html {
	min-height: 100%;
	display: flex;
	justify-content: center;
}

body {
	line-height: 1.5;
	color: color(--color-text);
	background-color: color(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
		"Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
		"Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
		"Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

	max-width: var(--body-width);
	margin-block: $base-padding;
	margin-inline: 0;
	width: 100%;
	padding: 0;

	// Sticky footer
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 2rem);
}

main {
	height: 100%;
}

strong {
	display: inline-flex;
}

blockquote {
	// Reduce the margin of a block quote.
	margin-block-start: $base-padding * 0.1;
	margin-block-end: 0;
}

ul,
ol {
	margin-top: $base-padding * 0.1;
	padding-inline-start: $base-padding * 2;

	>li> :nth-child(1n+2):not(ul):not(:has(+ul)) {
		margin-block-start: 0;
		margin-block-end: $base-padding;
	}
}

h1,
h2,
h3,
h4,
h5,
p {
	margin-block-end: 0;
}

h1 {
	font-size: xx-large;
	margin-block-start: $base-padding * 1.8;
}

h2 {
	font-size: x-large;
	margin-block-start: $base-padding * 1.4;
}

h3 {
	font-size: larger;
	margin-block-start: $base-padding * 1.2;
}

h4 {
	font-size: large;
	margin-block-start: $base-padding * 1.1;
}

h5 {
	font-size: medium;
	margin-block-start: $base-padding * 1.0;
}

p {
	font-size: medium;
	margin-block-start: $base-padding * 0.25;

	+p {
		margin-block-start: $base-padding * 1;
	}
}

a {
	color: color(--color-link);

	&:focus,
	&:hover {
		color: color(--color-link, 0.5);
	}

	&:visited {
		color: color(--color-link-visited);
	}

	&.unstyle {
		color: unset
	}
}

summary {
	cursor: pointer;
	max-width: $small-width;

	&:focus {
		outline: none;
	}
}

blockquote> :only-child {
	border-left: .2em solid color(--color-text, .5);
	padding-left: .5em;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-block-start: $base-padding * 0.1;

	th:empty {
		display: none;
	}

	th,
	td {
		padding: $base-padding;
		border: 1px solid color(--color-text, .5);
	}
}
