$min-content-width: 16rem;
$sidebar-width: 17.5rem;
$small-width: 600px;
$large-width: calc(11in + 40rem);
$body-width-large: calc(11in + 2rem);
$body-width-small: calc(11in + 20rem);

@import 'site';

@page {
	size: letter landscape;
}
