/* Print-Portrait Styles */

$min-content-width: 16rem;
$sidebar-width: 17.5rem;
$small-breakpoint: 600px;
$body-width-min: 8.5in;
$body-width-max: 8.5in;
$body-margin: 10mm;

@import 'site';

@page {
	size: letter portrait;
}
