/* Full-Width Styles */

$min-content-width: 16rem;
$sidebar-width: 17.5rem;
$small-breakpoint: 600px;
$body-width-max: 100rem;
$body-width-min-large: calc(100vw - 40rem);
$body-width-min-small: 80rem;

@import 'site';
