@import 'functions';
@import 'variables';
@import 'user-agent';
@import 'shortcodes';
@import 'general';
@import 'sitemap';
@import 'sidebar';
@import 'search';
@import 'header';
@import 'rating';
@import 'alert';
@import 'data';
@import 'footer';
@import 'v1/code';
@import 'v1/table';
@import 'v1/article';
@import 'v1/blockquote';
@import 'v1/footnotes';
@import 'v0/reset';

@font-face {
	font-weight: 400;
	font-style: normal;
	font-display: block;
	font-family: "Optician Sans";
	src: url("/fonts/optician-sans/Optician-Sans.woff2") format("woff2"),
		 url("/fonts/optician-sans/Optician-Sans.woff") format("woff"),
		 url("/fonts/optician-sans/Optician-Sans.ttf") format("truetype");
}
