
.graph {
	min-width: 0;
    grid-template-columns: 440px 1fr;
    align-items: start;
	display: grid;
	gap: 35px;
}

.status {
	width: 383px;
    margin-top: 18px;
    font-size: 1rem;
    line-height: 1.35;
    color: #555;

	&.error {
		color: #a40000;
	}

	&.success {
		color: #175c17;
	}
}

.svg-wrap {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}

/* =========================
   SVG STYLES
   ========================= */
.axis {
    stroke: #222;
    stroke-width: 2;
}

.circle {
    fill: none;
    stroke: #333;
    stroke-width: 3;
}

.grid {
    fill: none;
    stroke: #ddd;
    stroke-width: 1;
}

.triangle {
    fill: rgba(70, 120, 210, 0.13);
    stroke: #315fa8;
    stroke-width: 4;
}

.projection {
    stroke: #777;
    stroke-width: 2;
    stroke-dasharray: 8 6;
}

.ray {
    stroke: #222;
    stroke-width: 4;
}

.point {
    fill: #d52f2f;
    stroke: white;
    stroke-width: 3;
}

.origin {
    fill: #111;
}

.angle-arc {
    fill: none;
    stroke: #555;
    stroke-width: 4;
}

.axis-label {
    font-size: 1.75rem;
    font-weight: bold;
}

.tick-label {
    font-size: 1rem;
}

.side-label {
    font-size: 1.25rem;
    font-weight: bold;
}

.angle-label {
    font-size: 1.75rem;
    font-style: italic;
}

.coordinate {
	font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
}

.right-angle {
    fill: none;
    stroke: #555;
    stroke-width: 3;
}

.info {
    text-align: center;
    font-size: 1.25rem;
    margin-top: -5px;
}

@media (max-width: 950px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .controls {
        padding-left: 25px;
    }

    .graph {
        order: -1;
    }

    input, .status {
        width: calc(100vw - 60px);
        max-width: 500px;
    }
}