article.v1 {
	height: 100%;
	width: auto;

	> :first-child {
		margin-block-start: $site-padding * 3 !important;
	}

	img {
		max-width: 100%;
	}

	li {
		& + li {
			margin-block-start: $base-padding * 0.1;
		}

		& > dl {
			margin-block-start: $base-padding * 0.5;
		}
	}

	dl {
		display: grid;
		grid-auto-flow: row;
		padding-block-start: 1px;
		grid-auto-rows: max-content;
		grid-column-gap: $base-padding;
		grid-template-columns: max-content;

		dt,
		dd,
		dd > p {
			margin: 0;
		}

		dt {
			grid-column: 1;
			grid-row: span 99;
			margin-block-start: -1px;
			padding-inline-end: $base-padding * 0.5;
			padding-block-start: $base-padding * 0.25;
			border-top: 1px dashed currentColor;

			&:not(:last-of-type) {
				margin-block-end: $base-padding * 0.5;
			}

			&+dd:not(:has(dl)) {
				padding-block-start: $base-padding * 0.25;
			}

			strong, em {
				display: block;
			}
		}

		dd {
			grid-column: 2;
			overflow-x: auto;
			
			&:has(+dd) {
				padding-block-end: $base-padding * 0.5;
			}

			&:has(+dt) {
				padding-block-end: $base-padding * 0.75;

				&:has(blockquote) {
					margin-block-end: $base-padding * 0.5;
				}
			}

			blockquote {
				/*display: contents;*/
				margin-inline-start: 0;
				margin-block-start: $base-padding * 0.1;
			}

			&:has(ul) {
				margin-block-start: $base-padding * -0.5;
			}

			&:has(dl) {
				margin-block-start: -1px;

				&:has(+dt) {
					margin-block-end: $base-padding * 0.5;
				}
			}

			pre {
				margin-block-start: 0;
			}
		}

		@media (min-width: $small-width) {
			dt {
				&:not(.wrap) {
					max-width: min(35vw, calc(var(--body-width) * 0.35));
				}
			}
			dd {
				&:has(pre) {
					padding-block-start: 0 !important;
				}
			}		
		}

		@media (max-width: ($small-width - 1px)) {
			grid-template-columns: auto;

			dt,
			dd,
			div {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			dt {
				border-top: none;
				margin-block: 0 !important;
			}

			dd {
				margin-inline-start: revert;

				&:has(+dt) {
					padding-block-end: $base-padding * 0.5;

					&:has(blockquote) {
						margin-block-end: $base-padding * 0.25;
					}
				}
			}
		}

		dt.wrap~dd,
		dd.wrap {
			grid-column: 1 / 3;
		}

		&.striped {
			dt,
			dd {
				margin-left: 0;
				padding: .3rem .5rem;

				&:nth-of-type(2n+1) {
					background-color: rgba(0, 0, 0, .3);
				}
			}
		}

		// Since the headers use display: inline-block, there's no margin collapse.
		&:has(+h1), &:has(+h2), &:has(+h3), &:has(+h4), &:has(+h5) {
			margin-block-end: 0;
		}
	}

	&.section:empty::after {
		content: 'See Subsections';
		justify-content: center;
		align-items: center;
		font-style: italic;
		display: flex;
		height: 100%;

		@media (max-width: ($large-width - 1px)) {
			margin-block-start: $base-padding * 2;
		}
	}

	&.page:empty::after {
		content: 'See Sidebar';
		justify-content: center;
		align-items: center;
		font-style: italic;
		display: flex;
		height: 100%;

		@media (max-width: ($large-width - 1px)) {
			margin-block-start: $base-padding * 2;
		}
	}

	&.four-zero-four {
		letter-spacing: 1px;
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100%;

		> :only-child {
			margin-block-start: 0 !important;
		}
	}
}