article.v1 {
	blockquote {
		border-left: .2em solid color(--color-text, .5);
		padding-left: .5em;
	}

	// Title header for blockquotes.
	h6:has(+blockquote)  {
		font-size: $base-font-size * 0.8;
		margin-block-end: $base-padding * -1;
		margin-block-start: $base-padding * 1.25;
		margin-inline-start: $site-padding * 3.25;
	}

	dd > h6:has(+blockquote)  {
		margin-block-start: $base-padding * 0.5;
		margin-block-end: $base-padding * -0.25;
		margin-inline-start: $site-padding * 0.75;
	}

	// Attribution footer for blockquotes.
	blockquote+h6 {
		font-size: $base-font-size * 0.75;
		margin-block-start: $base-padding * 0.25;
		margin-inline-start: $site-padding * 3.25;
	}

	dd > blockquote+h6  {
		font-size: $base-font-size * 0.75;
		margin-block-start: $base-padding * 0.25;
		margin-inline-start: $site-padding * 0.75;
	}
}

