article.v1 {
	.footnotes {
		margin-top: $base-padding * 3;
		padding-block-start: $base-padding * 0.5;
		border-top: 2px dotted color(--color-text);

		.footnotes-list {
			margin-block-end: $base-padding * -2;
		}
	}
}