#letter-chart {
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	position: relative;
	height: 600px;
	width: 100%;
}

.letter {
	/* Position using center point */
	transform: translate(-50%, -50%);
	position: absolute;
	aspect-ratio: 1;
}

.letter.red {
	color: red;
}

.letter.green {
	color: green;
}
