<!DOCTYPE html>
<html lang={{ lang }}>

<head>
	<meta charset="UTF-8">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ config.description }}">
	{% set page_title = page.title | default(value=section.title | default(value='')) %}
	{% if page_title and config.title and page_title != config.title %}
		<title>{{ page_title }} - {{ config.title }}</title>
	{% elif config.title %}
		<title>{{ config.title }}</title>
	{% else %}
		<title>{{ page_title }}</title>
	{% endif %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="/favicon/apple-touch-icon.png", cachebust=false) }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="/favicon/favicon-32x32.png", cachebust=false) }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="/favicon/favicon-16x16.png", cachebust=false) }}">
	<link rel="manifest" href="{{ get_url(path="/site.webmanifest", cachebust=true) }}">

	<link rel="stylesheet" type="text/css" href="{{ get_url(path="/site.css", cachebust=true) }}" media="all">
	{% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
	<link rel="stylesheet" type="text/css" href="{{ get_url(path="/dark.css", cachebust=true) }}" media="(prefers-color-scheme: dark)" />
	<link rel="stylesheet" type="text/css" href="{{ get_url(path="/light.css", cachebust=true) }}" media="(prefers-color-scheme: light)" />
	{% endif %}

	<script defer src="{{ get_url(path="/elasticlunr.min.js", cachebust=true) }}"></script>
	<script defer src="{{ get_url(path="/search_index." ~ config.default_language ~ ".js" , cachebust=true) }}"></script>

	{% if lang != config.default_language %}
	{% set submodule_path = current_path | split(pat="/content/") | first %}
	<script defer src="{{ get_url(path="/scripts/lunr.stemmer.js", cachebust=true) }}"></script>
	<script defer src="{{ get_url(path="/scripts/lunr." ~ lang ~ ".js", cachebust=true) }}"></script>
	<script defer src="{{ submodule_path ~ "/public/search_index." ~ lang ~ ".js?h=" ~ get_hash(literal="" ~ get_random(start=0, end=99) ~ "") }}"></script>
	{% endif %}

	<script defer src="{{ get_url(path="/scripts/search.js", cachebust=true) }}"></script>
	<script defer src="{{ get_url(path="/scripts/content.js", cachebust=true) }}"></script>

	{% if page.extra.stylesheets | default(value=section.extra.stylesheets) %}
		{% for stylesheet in page.extra.stylesheets | default(value=section.extra.stylesheets) %}
			{{ stylesheet | safe }}
		{% endfor %}
	{% endif %}
</head>

<body>
	{% block header %}
	<header id="header">
		<span class="header-item">{% include 'partials/search.html' %}</span>
		<span class="header-item"><a class="unstyle" href="{{ get_url(path="@/_index.md") }}">ascallion</a></span>
		<span class="header-item"><a href="{{ get_url(path="@/_index.md") }}">Sitemap</a></span>
	</header>
	{% endblock header %}

	<main id="main">
		{% block content %}
		{% endblock content %}
	</main>

	{% block footer %}
	{% include "partials/footer.html" %}
	{% endblock footer %}

	{# For debugging purposes #}
	{% if config.base_url == "http://127.0.0.1:1111" %}
	<details id="templating-context">
		<summary>Tera Context</summary>
		<pre>{{ __tera_context }}</pre>
	</details>
	{% endif %}
</body>

</html>