<div class="header-item">
    <header id="summary">
        <h2 class="header-title">
            {% if page.extra.site | default(value=section.extra.site) %} 
                <a class="site" href="{{ page.extra.site | default(value=section.extra.site) | safe }}" target="_blank" rel="noreferrer">
                    {{ page.title | default(value=section.title) }}
                </a>
            {% else %}
                <span>{{ page.title | default(value=section.title) }}</span>
            {% endif %}
            {% if page.extra.version | default(value=section.extra.version) %} 
                <sub class="version">{{ page.extra.version | default(value=section.extra.version) }}</sub>
            {% endif %}  
        </h2> 
        {% if page.extra.subtitle | default(value=section.extra.subtitle) %} 
            <h3 class="subtitle">{{ page.extra.subtitle | default(value=section.extra.subtitle) }}</h3>
        {% endif %}

        <dl>
            {% if page.description | default(value=section.description) %} 
            <dt>Description</dt>
            <dd>{{ page.description | default(value=section.description) }}</dd>
            {% endif %}

            {% if page.authors | default(value=section.extra.authors) %} 
            <dt>Authors</dt>
            {% for author in page.authors | default(value=section.extra.authors) %}
                <dd>{{ author }}</dd>
            {% endfor %}
            {% endif %}

            {% if page.extra.rating | default(value=section.extra.rating) %} 
            <dt>Rating</dt>
            <dd class="display--inline-flex">
                <blockquote>
                    <ul>
                        {% set ratingEnd = page.extra.rating | default(value=section.extra.rating) %}
                        {% set ratingStart = 5 - ratingEnd %}
                        {% for rating in range(end=ratingEnd) %}
                        <li><input type="checkbox" checked="" style="pointer-events: none;"></li>
                        {% endfor %}
                        {% for rating in range(end=ratingStart) %}
                        <li><input type="checkbox" style="pointer-events: none;"></li>
                        {% endfor %}
                    </ul>
                </blockquote>
            </dd>
            {% endif %}

            {% if page.extra.see_also | default(value=section.extra.see_also) %} 
            <dt>See Also</dt>
            {% for also in page.extra.see_also | default(value=section.extra.see_also) %}
                <dd class="summary-item">
                    {% if also.href %} 
                        <span><a href="{{ also.href }}" target="_blank" rel="noreferrer">{{ also.title | default(value=also.href) | safe }}</a><span class="link">&#x1F517;</span></span>
                    {% elif also.file and also.file is starting_with("/") %}
                        {% set url = get_url(path=also.file) %}
                        <a href="{{ url }}" target="_blank">{{ also.title | default(value=also.file) | safe }}</a>
                    {% elif also.file and also.file is not starting_with("/") %}
                        {% set url = get_url(path=current_path ~ also.file) %}
                        <a href="{{ url }}" target="_blank">{{ also.title | default(value=also.file) | safe }}</a>
                    {% else %}
                        <span>{{ also.title }}</span>
                    {% endif %}
                </dd>
            {% endfor %}
            {% endif %}

            {% if page.extra.references | default(value=section.extra.references) %} 
            <dt>References</dt>
            {% for ref in page.extra.references | default(value=section.extra.references) %}
                <dd class="summary-item">
                    {% if ref.mark %}
                        {{ ref.mark }}&#32;-&#32;
                    {% endif %}
                    <a href="{{ ref.href }}">{{ ref.title | default(value=ref.href) | safe }}</a>
                </dd>
            {% endfor %}
            {% endif %}

            {% if page.updated | default(value=section.updated) %} 
            <dt>Last Updated</dt>
            <dd>{{ page.updated | default(value=section.updated) }}</dd>
            {% endif %}
            
            <dt>Reading Time</dt>
            <dd>{{ page.reading_time | default(value=section.reading_time) }} minute(s)</dd>

            {% if page.extra.footnotes | default(value=section.extra.footnotes) %} 
            <dt>Footnotes</dt>
            {% for ref in page.extra.footnotes | default(value=section.extra.footnotes) %}
                <dd>
                    {% if ref.mark %}
                        {{ ref.mark }}&#32;-&#32;
                    {% endif %}
                    <span>{{ ref.title }}</span>
                </dd>
            {% endfor %}
            {% endif %}
        </dl>
    </header>
</div>