<header id="summary">
    <h2 class="title">
    {% if page.extra.site | default(value=section.extra.site) %} 
        <a href="{{ page.extra.site | default(value=section.extra.site) | safe }}" rel="noreferrer">{{ page.title | default(value=section.title) }}</a>
    {% else %}
        {{ page.title | default(value=section.title) }}
    {% endif %}
    {% if page.extra.version | default(value=section.extra.version) %} 
        <sub class="version">{{ page.extra.version | default(value=section.extra.version) }}</sub>
    {% endif %}
    </h2> 
    
    <dl>
        {% if page.description | default(value=section.description) %} 
        <dt>Description</dt>
        <dd>{{ page.description | default(value=section.description) }}</dd>
        {% endif %}

        {% if page.extra.see_also | default(value=section.extra.see_also) %} 
        <dt>See Also</dt>
        {% for also in page.extra.see_also | default(value=section.extra.see_also) %}
            <dd class="summary-item">
                {% if also.href %} 
                    <span><a href="{{ also.href }}" rel="noreferrer">{{ also.title | default(value=also.href) | safe }}</a>&#x1F517;</span>
                {% elif also.file and also.file is starting_with("/") %}
                    {% set url = get_url(path=also.file) %}
                    <a href="{{ url }}">{{ also.title | default(value=also.file) | safe }}</a>
                {% elif also.file and also.file is not starting_with("/") %}
                    {% set url = get_url(path=current_path ~ also.file) %}
                    <a href="{{ url }}">{{ also.title | default(value=also.file) | safe }}</a>
                {% else %}
                    <span>{{ also.title }}</span>
                {% endif %}
            </dd>
        {% endfor %}
        {% endif %}

        {% if page.extra.references | default(value=section.extra.references) %} 
        <dt>References</dt>
        {% for ref in page.extra.references | default(value=section.extra.references) %}
            <dd class="summary-item">
                {% if ref.mark %}
                {{ ref.mark }}&#32;-&#32;
                {% endif %}
                <a href="{{ ref.href }}">{{ ref.title | default(value=ref.href) | safe }}</a>
            </dd>
        {% endfor %}
        {% endif %}

        {% if page.updated | default(value=section.updated) %} 
        <dt>Last Updated</dt>
        <dd>{{ page.updated | default(value=section.updated) }}</dd>
        {% endif %}
        
        <dt>Reading Time</dt>
        <dd>{{ page.reading_time | default(value=section.reading_time) }} minute(s)</dd>
    </dl>
</header>