<form id="options" class="header-item">
    <header id="summary">
        <h2 class="header-title">
            {% if page.extra.site | default(value=section.extra.site) %}
				{% set path = page.extra.site | default(value=section.extra.site) %}
				{% if path is starting_with("/") %}
					<a class="site" href="{{ path | safe }}" rel="noreferrer">
						{{ page.title | default(value=section.title) }}
					</a>
				{% else %}
					<a class="site" href="{{ path | safe }}" target="_blank" rel="noreferrer">
						{{ page.title | default(value=section.title) }}
					</a>
				{% endif %}
            {% else %}
                <span>{{ page.title | default(value=section.title) }}</span>
            {% endif %}
            {% if page.extra.version | default(value=section.extra.version) %} 
                <sub class="version">{{ page.extra.version | default(value=section.extra.version) }}</sub>
            {% endif %}  
        </h2> 
        {% if page.extra.subtitle | default(value=section.extra.subtitle) %} 
            <h3 class="subtitle">{{ page.extra.subtitle | default(value=section.extra.subtitle) }}</h3>
        {% endif %}

		{% if page.extra.caution | default(value=section.extra.caution) %} 
			<blockquote class="markdown-alert-caution">
				<p>{{ page.extra.caution | default(value=section.extra.caution) }}</p>
			</blockquote>
        {% endif %}

        <dl>
            {% if page.description | default(value=section.description) %} 
            <dt>Description</dt>
            <dd>{{ page.description | default(value=section.description) }}</dd>
            {% endif %}

            {% if page.authors | default(value=section.extra.authors) %} 
            <dt>Authors</dt>
            {% for author in page.authors | default(value=section.extra.authors) %}
                <dd>{{ author }}</dd>
            {% endfor %}
            {% endif %}

            {% if page.extra.rating | default(value=section.extra.rating) %} 
            <dt>Rating</dt>
            <dd>
                <blockquote>
                    <ul>
                        {% set ratingEnd = page.extra.rating | default(value=section.extra.rating) %}
                        {% set ratingStart = 5 - ratingEnd %}
                        {% for rating in range(end=ratingEnd) %}
                        <li><input type="checkbox" checked="" style="pointer-events: none;"></li>
                        {% endfor %}
                        {% for rating in range(end=ratingStart) %}
                        <li><input type="checkbox" style="pointer-events: none;"></li>
                        {% endfor %}
                    </ul>
                </blockquote>
            </dd>
            {% endif %}

            {% if page.extra.see_also | default(value=section.extra.see_also) %} 
            <dt>See Also</dt>
            {% for also in page.extra.see_also | default(value=section.extra.see_also) %}
                <dd class="summary-item">
                    {% if also.href %} 
                        <span><a href="{{ also.href }}" target="_blank" rel="noreferrer">{{ also.title | default(value=also.href) | safe }}</a><span class="link">&#x1F517;</span></span>
                    {% elif also.file and also.file is starting_with("/") %}
                        {% set url = get_url(path=also.file) %}
                        <a href="{{ url }}" target="_blank">{{ also.title | default(value=also.file) | safe }}</a>
                    {% elif also.file and also.file is not starting_with("/") %}
                        {% set url = get_url(path=current_path ~ also.file) %}
                        <a href="{{ url }}" target="_blank">{{ also.title | default(value=also.file) | safe }}</a>
                    {% else %}
                        <span>{{ also.title | safe }}</span>
                    {% endif %}
                </dd>
            {% endfor %}
            {% endif %}

			{% if page.extra.options | default(value=section.extra.options) %} 
            <dt>Options</dt>
            {% for option in page.extra.options | default(value=section.extra.options) %}
				{% set name = page.slug ~ "-" ~ option.id | default(value='') %}
                <dd class="summary-item" data-type="{{ option.type }}">
					{% set value = option.value | default(value="") %}
                    {% if option.type == "range" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <input id="{{ option.id }}" name="{{ name }}" type="range" min="{{ option.min }}" max="{{ option.max }}" step="{{ option.step | default(value=1) }}" value='{{ value }}' class="defer" />
					{% elif option.type == "checkbox" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <input id="{{ option.id }}" name="{{ name }}" type="checkbox" autocomplete="off" />
					{% elif option.type == "color" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <input id="{{ option.id }}" name="{{ name }}" type="color" value='{{ value }}' />
					{% elif option.type == "textarea" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <textarea id="{{ option.id }}" name="{{ name }}"></textarea>
					{% elif option.type == "text" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <input id="{{ option.id }}" name="{{ name }}" type="text" value="{{ value }}" />
					{% elif option.type == "div" %} 
						<div id="{{ option.id }}" data-value='{{ value }}'>{{ option.name }}</div>
					{% elif option.type == "output" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <output id="{{ option.id }}">{{ option.value | default(value="") }}</output>
					{% elif option.type == "button" %} 
                        <button id="{{ option.id }}" type="button">{{ option.name }}</button>
                    {% elif option.type == "select" %} 
						<label for="{{ option.id }}">{{ option.name }}</label>
                        <select id="{{ option.id }}" type="select">
							{% for selectOption in option.options %}
								<option value="{{ selectOption }}">{{ selectOption }}</option>
							{% endfor %}
						</select>
                    {% endif %}
                </dd>
            {% endfor %}
            {% endif %}

            {% if page.updated | default(value=section.extra.updated) %} 
            <dt>Last Updated</dt>
            <dd>{{ page.updated | default(value=section.extra.updated) }}</dd>
            {% endif %}
            
            <dt>Reading Time</dt>
            <dd>{{ page.reading_time | default(value=section.reading_time) }} minute(s)</dd>
        </dl>
    </header>
</form>