{% import "macros/macros.html" as macros %}

{% set max_level = page.extra.toc_level | default(value=section.extra.toc_level | default(value=2)) %}
{% set toc = page.toc | default(value=section.toc) %}
{% if toc %}
<div class="header-item">
	<h3 class="sitemap-title header-title">Table of Contents</h3>
	<nav class="sitemap condensed">
		{% if page.slug and page.slug == "styleguide" %}
			{{ macros::render_toc(toc=toc, max_level=1, exclude="h1") }}
		{% else %}
			{{ macros::render_toc(toc=toc, max_level=max_level) }}
		{% endif %}
	</nav>
</div>
{% endif %}
