.table-wrapper {
	height: 100%;
}

#arrow-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
}

#arrow-chart * {
	overflow-y: clip;
	aspect-ratio: 1;
}