#letter-tracking {
	display: flex;
	flex-wrap: wrap;
	overflow-x: clip;
	font-weight: 600;
	text-align: start;
	position: relative;
	padding-block: 1ex;
	padding-inline: 1ch;
	justify-self: center;
	word-wrap: break-word;
	word-break: break-word;
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}

#letter-tracking p {
	font-size: var(--font-size);
}

#letter-tracking.red-green::after {
	inset: 0;
	content: '';
	position: absolute;
	margin-left: -0.15ch;
	/* Red + green == yellow */
	mix-blend-mode: hard-light;
	background-blend-mode: screen;
	/* Gradient should overlay slightly */
	background: repeating-linear-gradient(
		to right,
		rgba(255, 0, 0, 0.5) 0ch 4ch,
		rgba(0, 255, 0, 0.5) 4ch 8ch
  	), repeating-linear-gradient(
		to right,
		transparent 0ch 4ch,
		rgba(255, 0, 0, 0.5) 4ch 4.1ch,
		transparent 4ch 8ch
  	), repeating-linear-gradient(
		to right,
		rgba(0, 255, 0, 0.5) 0ch 0.1ch,
		transparent 0.1ch 8ch
  	);
}
