.table-wrapper {
	height: 100%;
}

#hart-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	text-align: center;
	width: min-content;
	position: relative;
	justify-self: center;
}

.letter {
	overflow-y: clip;
	aspect-ratio: 1;
}

.letter.red {
	color: rgb(var(--color-red));
}

.letter.green {
	color: rgb(var(--color-green));
}


.ref.row {
	grid-column-start: 1;
	text-align: start;
	width: 2em;
}

.ref.col {
	grid-row-start: 1;
	height: 2em;
}
