#hart-chart {
	display: grid;
	gap: 10px 10px;
	line-height: 1;
	aspect-ratio: 1;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
	grid-template-columns: repeat(10, 1fr);
}

#hart-chart * {
	aspect-ratio: 1;
}