#spot-the-match-wrapper {
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	gap: 5rem;
}

.spot-the-match {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	align-items: center;
	justify-self: center;
	gap: var(--image-gap);
	grid-template-columns: repeat(3, 1fr);
}

.spot-the-match > div {
	background-color: currentColor;
	height: var(--image-size);
	mask-repeat: no-repeat;
	mask-position: center;
	justify-self: center;
	mask-size: contain;
	aspect-ratio: 1;
}

.correct {
	cursor: pointer;
}

.correct:hover {
	background-color: green;
}