#spot-the-match-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.spot-the-match {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
	grid-template-columns: repeat(3, 1fr);
}

.spot-the-match > div {
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1;
	height: 100px;
}