@media screen and (orientation: landscape) {
    :root {
		--body-width: calc(100vw - 40rem);
	}
}

#spot-the-match-wrapper {
	justify-content: center;
	align-content: start;
	align-items: center;
	overflow-x: auto;
	gap: var(--gap);
	flex-wrap: wrap;
	display: flex;
	height: 100%;
}

.spot-the-match {
	display: grid;
	padding: 1rem;
	overflow: clip;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	align-items: center;
	justify-self: center;
	gap: var(--image-gap);
	grid-template-columns: repeat(3, 1fr);
}

.spot-the-match > div {
	height: calc(var(--image-size) * var(--image-scale));
	background-color: currentColor;
	mask-repeat: no-repeat;
	mask-position: center;
	justify-self: center;
	mask-size: contain;
	aspect-ratio: 1;
}

.correct {
	cursor: pointer;
}

.correct:hover {
	background-color: green;
}
