* {
	--icon-size: 16px;
	--color-accent: #dc2626;
	font-family: 'IBM Plex Serif', serif;
	line-height: 1.4;
	font-size: 14px;
}

#name {
	margin-block-start: -8px;
	font-size: 24px;
	display: block;
}

.section-header {
	color: var(--color-accent);
	margin-block-start: 14px;
	font-weight: 500;
	font-size: 15px;
	display: block;
}

.title {
	font-weight: bold;
	font-size: 14px;
}

.item {
	margin-block-end: 14px;
	display: block;
}

.dates {
	font-weight: 500;
}

.skills {
	margin-block-start: 7px;
	font-size: 13px;
	display: block;
}

.inline-svg {
	display: inline-flex;
	align-items: center;
}

.inline-svg svg {
	margin-inline-end: 3px;
	width: var(--icon-size);
	color: var(--color-accent);
}

.inline-svg .link {
	margin-block-start: 1px;
	margin-inline-start: 9px;
}

.inline-svg + .inline-svg {
	margin-inline-start: 9px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.underline {
	text-decoration: underline;
	text-underline-offset: 4px;
}

@media print {
	.hide, .hidden {
		display: none;
	}
}

hr {
	border-top: 1px solid var(--color-accent);
	margin-block-start: 16px;
	margin-block-end: 12px;
}

ul {
	padding-inline-start: 20px;
	margin-block-end: 10px;
}

li {
	margin-block-end: 4px;
}