.table-wrapper {
	height: 100%;
}

#number-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	text-align: center;
	width: min-content;
	position: relative;
	justify-self: center;
	counter-reset: row -1 col -1;
}

.number {
	overflow-y: clip;
	aspect-ratio: 1;
}

.number.red {
	color: rgb(var(--color-red));
}

.number.green {
	color: rgb(var(--color-green));
}

.ref.row {
	grid-column-start: 1;
	text-align: start;
	width: 2em;
}

.ref.col {
	grid-row-start: 1;
	height: 2em;
}
