.page {
    justify-content: center;
	padding-bottom: 3rem;
    margin-bottom: -3rem;
	align-items: center;
	overflow-x: auto;
	display: flex;
}

#number-chart {
	display: grid;
	overflow: clip;
	line-height: 1;
	text-align: center;
	position: relative;
	justify-self: center;
}

.number {
	overflow-y: clip;
	aspect-ratio: 1;
}

.number.red {
	color: rgb(var(--color-red));
}

.number.green {
	color: rgb(var(--color-green));
}

.number, .ref {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ref.row {
	border-right: 2px solid currentColor;
	grid-column: 1 / span 1;
	padding-block-end: 1em;
	margin-block-end: -1em;
	box-sizing: border-box;
	text-align: center;
	min-width: 1em;
}

.ref.col {
	border-bottom: 2px solid currentColor;
	padding-inline-end: 1em;
	margin-inline-end: -1em;
	box-sizing: border-box;
	grid-row: 1 / span 1;
}

.ref.row.col {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	aspect-ratio: unset;
	border: none;
	padding: 0;
	margin: 0;
}