article.v1 {
	blockquote:not([class^="markdown-alert-"]) {
		padding-inline-start: $base-padding * .5;
		margin-inline-start: $base-padding * -0.75;
		border-left: .2em solid color(--color-text, .5);
		position: relative;
		width: 100%;

		// Nested blockquotes
		&:has(> blockquote) {
			margin-inline-start: $base-padding * 3;
			width: auto;

			&::before {
				content: '“';
				font-size: $base-font-size * 5;
				left: $site-padding * -2.5;
				position: absolute;
				line-height: 1;
				top: 0;
			}

			&::after {
				font-size: $base-font-size * 5;
				right: $site-padding * -2;
				bottom: $site-padding * 1;
				position: absolute;
				line-height: 1;
				display: none;
				content: '„';
			}

			& > blockquote {
				display: contents;
			}
		}

		& + blockquote {
			margin-block-start: $base-padding * 1.25;
		}
	}

	// Title header for blockquotes.
	h5:has(+blockquote:not([class^="markdown-alert-"]))  {
		margin-inline-start: $site-padding * 3.75;
		margin-block-start: $base-padding * 1.25;
		margin-block-end: $base-padding * -1;
		font-size: $base-font-size * 1;
	}

	dd > h6:has(+blockquote:not([class^="markdown-alert-"]))  {
		margin-inline-start: $site-padding * 0.75;
		margin-block-start: $base-padding * 0.5;
		margin-block-end: $base-padding * -0.25;
	}

	// Attribution footer for blockquotes.
	blockquote:not([class^="markdown-alert-"])+h6 {
		margin-inline-start: $site-padding * 3.75;
		margin-block-start: $base-padding * 0.25;
		margin-block-end: $base-padding * 1.25;
		font-size: $base-font-size * 0.75;
	}

	// Markdown alerts.
	blockquote > ul {
		margin-block-end: $base-padding * 0.25;
	}

	dd > blockquote+h6  {
		font-size: $base-font-size * 0.75;
		margin-block-start: $base-padding * 0.25;
		margin-inline-start: $site-padding * 0.75;
	}

	ol + blockquote {
		margin-block-start: $base-padding * 1.25;
	}
}

