article.v1 {
	--side-opacity: 1;

	h1, h2, h3, h4 {
		text-decoration-line: underline;
		text-decoration-style: solid;
	}

	h2 {
		position: relative;

		&::after {
			content: '';
			background-color: color(--color-h2, var(--side-opacity));
			left: $site-padding * -1;
			position: absolute;
			top: 0.15em;
			width: 2px;
			bottom: 0;
		}

		&+h2::before, &+h2::after {
			display: none;
		}
	}

	h3 {
		position: relative;

		&::after {
			content: '';
			background-color: color(--color-h3, var(--side-opacity));
			transform: translateX($site-padding * 0.25);
			left: $site-padding * -1;
			position: absolute;
			top: 0.15em;
			width: 2px;
			bottom: 0;
		}

		&+h3::before, &+h3::after {
			display: none;
		}
	}

	h4 {
		position: relative;

		&::after {
			content: '';
			background-color: color(--color-h4, var(--side-opacity));
			transform: translateX($site-padding * 0.5);
			left: $site-padding * -1;
			position: absolute;
			top: 0.15em;
			width: 2px;
			bottom: 0;
		}

		&+h4::before, &+h4::after {
			display: none;
		}
	}
}
