article.v1 {
	--side-opacity: 1;

	h1, h2, h3, h4 {
		text-decoration-line: underline;
		text-decoration-style: solid;
	}

	h1 {
		position: relative;

		&::after {
			display: none;
			background: linear-gradient(to right, color(--color-h1, var(--side-opacity)) 2px, color(--color-bg) 2px);
			left: $site-padding * -1;
			width: $site-padding;
			position: absolute;
			content: '';
			top: 0.2em;
			bottom: 0;
		}

		&+h1::before, &+h1::after {
			display: none;
		}
	}

	h2 {
		position: relative;

		&::after {
			background: linear-gradient(to right, color(--color-bg) 2px, color(--color-h2, var(--side-opacity)) 2px, color(--color-h2, var(--side-opacity)) 4px, color(--color-bg) 4px);
			left: $site-padding * -1;
			width: $site-padding;
			position: absolute;
			content: '';
			top: 0.2em;
			bottom: 0;
		}

		&+h2::before, &+h2::after {
			display: none;
		}
	}

	h3 {
		position: relative;

		&::after {
			background: linear-gradient(to right, color(--color-bg) 4px, color(--color-h3, var(--side-opacity)) 4px, color(--color-h3, var(--side-opacity)) 6px, color(--color-bg) 6px);
			left: $site-padding * -1;
			width: $site-padding;
			position: absolute;
			content: '';
			top: 0.2em;
			bottom: 0;
		}

		&+h3::before, &+h3::after {
			display: none;
		}
	}

	h4 {
		position: relative;

		&::after {
			background: linear-gradient(to right, color(--color-bg) 8px, color(--color-h4, var(--side-opacity)) 8px, color(--color-h4, var(--side-opacity)) 10px, color(--color-bg) 10px);
			left: $site-padding * -1;
			width: $site-padding;
			position: absolute;
			content: '';
			top: 0.2em;
			bottom: 0;
		}

		&+h4::before, &+h4::after {
			display: none;
		}
	}
}
