article.v1 {
	details.image {
		border: 2px dashed color(--color-text);
		margin-block: $base-padding * 1;

		& > summary {
			margin-inline-start: $base-padding * 0.5;
			padding-block-start: $base-padding * 0.1;
			padding-block-end: $base-padding * 0.125;
			padding-inline: $base-padding * 0.1;

			& > p {
				margin-block: $base-padding * 0;
				font-weight: normal;
			}
		}

		& > p {
			margin-block-start: $base-padding * 0.25;
			padding: $base-padding * 0.5;

			& > img {
				max-width: 100%;
			}
		}
	}
}