.questionnaire {
	.score {
		cursor: pointer;
		user-select: none;
		text-align: center;

		&.selected {
			background: color(--color-bg-alt);
			color: color(--color-text-alt);
			text-decoration: underline;
		}
	}

	.total-row {
		font-weight: bold; 

		td:last-child {
			font-size: 1.2em;
			text-align: center;
		}
	}
} 