h5:has(+ canvas) {
	position: absolute;
	color: transparent;
	font-size: 0;
}

canvas + canvas, div:has(> canvas) + div:has(> canvas) {
	margin-block-start: $base-padding * 2.25;
}

@media (max-width: ($small-width - 1px)) {
	canvas {
		aspect-ratio: 16 / 9;
	}
}

@media (min-width: $small-width) {
	canvas {
		aspect-ratio: 21 / 6;
	}	
}
