.flashcard-wrapper {
	del {
		text-decoration-color: color(--color-text, 0.25);
	}
}

#flashcard-container {
	
	&:empty {
		display: none;
	}

	.flashcard-section {
		margin-block-start: $base-padding * 1;
		transform-style: preserve-3d;
		transition: transform 400ms;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
		user-select: none;
		min-height: 200px;
		cursor: pointer;
		display: flex;
		width: 100%;

		&.flipped {
			transform: rotateY(180deg);
		}

		.flashcard-front,
		.flashcard-back {
			border: 2px solid currentColor;
			backface-visibility: hidden;
			padding: $base-padding * 1;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			flex: 1 1 auto;
			display: flex;
			inset: 0;
		}

		.flashcard-front {
			padding-block: $base-padding * 2;
			min-height: min-content;
			position: relative;
			width: stretch;

			& > strong {
				font-size: $base-font-size * 1.75;
				text-align: center;
				line-height: 1;
			}

			& > em {
				margin-block-start: $base-padding * 0.5;
				color: color(--color-text, 0.75);
				font-size: $base-padding * 1.2;
				text-align: center;
				line-height: 1;

				&:empty {
					display: none;
				}
			}
		}

		.flashcard-back {
			background-color: color(--color-bg);
			transform: rotateY(180deg);
			position: absolute;

			& > .front {
				text-align: center;
			}

			.flashcard-list {
				margin-block-start: $base-padding * 0.5;
				padding-inline: $base-padding * 1;
    			margin-inline: $base-padding * -1;
				overflow-y: auto;
				flex: 1 1 auto;

				& > ul {
					margin: $base-padding * 0;
					line-height: $line-height-tight;

					& > li:not(:first-of-type) {
						margin-block-start: $base-padding * 0.5;
					}
				}
			}
		}

		.card-header {
			color: color(--color-text);
			position: absolute;
			line-height: 1;
			left: 10px;
			top: 10px;
		}

		.card-counter {
			color: color(--color-text, 0.75);
			position: absolute;
			font-size: small;
			line-height: 1;
			z-index: -1;
			bottom: 8px;
			left: 8px;
		}

		.current-card {
			color: color(--color-text, 0.75);
			position: absolute;
			font-size: small;
			line-height: 1;
			z-index: -1;
			bottom: 8px;
			right: 8px;
		}

		&[data-group="2"] {
			.current-card {
				font-weight: bold;
			}
		}
	}
}
