// Search styles
#search {
	#search-input {
		background-color: color(--color-search-bg);
		color: color(--color-search);

		&::placeholder {
			color: inherit;
		}
	}

	#search-results {
		background-color: color(--color-search-bg);
		border-radius: $border-radius;
		color: color(--color-search);
		right: $base-padding;
		left: $base-padding;
		position: absolute;
		z-index: 1;
		top: 2rem;

		#search-results__items {
			padding-inline-start: $base-padding * 2;
			padding-inline-end: $base-padding;
			padding-block: $base-padding;
			// Remove user-agent margin.
			margin-block-end: 0;

			li+li {
				margin-top: $base-padding;
			}

			.search-results__item {
				display: unset;
			}
		}
	}
}