article {
	order: 3;
}

.sidebar-right {
	order: 2;
	display: none;
}

@container (min-width: calc(#{$body-margin} + #{$body-margin} + #{$body-width-min} + 38rem + 2rem)){
  	article {
		order: 2;
	}

	.sidebar-right {
		order: 3;
		display: block;
	}

	.screen-small {
		display: none !important;
	}
}

.sidebar-left, .sidebar-right {
	width: $sidebar-width;
	align-content: start;
}

.sidebar-left, .sidebar-right {
	flex: 1 1 $sidebar-width;
}

.sidebar-left {
	max-width: $body-width-max;
	margin-inline: auto;
}