{# Uses the Tera templating engine. https://keats.github.io/tera/ #}


{#
    Renders a list of pages.
#}
{% macro render_list_links(pages, exclude='', sort=false) %}
{% for item in pages %}
    {# Warning: using page as the loop variable causes bugs since it already exists in context #}
    {% if item.extra.in_sitemap | default(value=true) %}
        {% if item.relative_path == exclude %}
            <li class="current">{{ item.title }}</li>
        {% else %}
            <li><a href="{{ get_url(path="@/" ~ item.relative_path) }}">{{ item.title }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% endmacro header %}


{#
    Iterates though the site's pages and subsection and renders nested lists for each.
#}
{% macro render_sitemap(path, open=true, first_pass=true) %}
{% set show_localhost = config.base_url == "http://127.0.0.1:1111" %}
{% set section_info = get_section(path=path) %}
{% if first_pass %}
    {% if section_info.pages | length > section_info.pages | filter(attribute="extra.in_sitemap", value=false) | length %}
        <menu class="sitemap-list">
            {{ macros::render_list_links(pages=section_info.pages) }}
        </menu>
    {% endif %}
    
    {% for subsection in section_info.subsections | sort %}
        {{ macros::render_sitemap(path=subsection, open=open, first_pass=false) }}
    {% endfor %}
{% elif section_info.extra.in_sitemap | default(value=true) or show_localhost %}
    {% if section_info.transparent %}
        {% for subsection in section_info.subsections | sort %}
            {{ macros::render_sitemap(path=subsection, open=open, first_pass=false) }}
        {% endfor %}
    {% else %}
        <details {% if open %}open{% endif %}>
            <summary><a href="{{ get_url(path="@/" ~ section_info.relative_path) }}">{{ section_info.title }}</a></summary>
            
            <menu class="sitemap-list">
                {{ macros::render_list_links(pages=section_info.pages) }}
        
                {% for subsection in section_info.subsections | sort %}
                    {{ macros::render_sitemap(path=subsection, open=open, first_pass=false) }}
                {% endfor %}
            </menu>
        </details>
    {% endif %}
{% endif %}
{% endmacro header %}


{#
    Iterates though the site's ancestors and renders lists for each.
#}
{% macro render_ancestors(ancestors) %}
<menu class="sitemap-list">
    {% for ancestor in ancestors %}
        {% set ancestor_info = get_section(path=ancestor) %}
        {% if not ancestor_info.transparent %}
            <li><a href="{{ get_url(path="@/" ~ ancestor_info.relative_path) }}">{{ ancestor_info.title }}</a></li>
        {% endif %}
    {% endfor %}
</menu>
{% endmacro header %}


{#
    Renders a page's siblings.
#}
{% macro render_siblings(for) %}
{% set ancestor_section = get_section(path=for.ancestors | last) %}
{% if ancestor_section.pages and ancestor_section.pages | length > ancestor_section.pages | filter(attribute="extra.in_sitemap", value=false) | length + 1 %}
<h3 class="sitemap-title">Siblings</h3>
<nav class="sitemap">
    <menu class="sitemap-list">
        {{ macros::render_list_links(pages=ancestor_section.pages, exclude=for.relative_path) }}
    </menu>
</nav>
{% endif %}
{% endmacro header %}
