{# Uses the Tera templating engine. https://keats.github.io/tera/ #}


{#
    Renders a list of pages.
#}
{% macro render_list_links(pages, exclude='') %}
{% for item in pages | sort(attribute="title") %}
    {# Warning: using page as the loop variable causes bugs since it already exists in context #}
    {% if item.extra.sitemapped | default(value=true) and item.relative_path != exclude %}
        <li><a href="{{ get_url(path="@/" ~ item.relative_path) }}">{{ item.title }}</a></li>
    {% endif %}
{% endfor %}
{% endmacro header %}


{#
    Iterates though the site's pages and subsection and renders nested lists for each.
#}
{% macro render_sitemap(path, open=true, first_pass=true) %}
{% set section_info = get_section(path=path) %}
{% if first_pass %}
    {% if section_info.pages and not section_info.pages | filter(attribute="extra.sitemapped", value=false) | length > 0 %}
        <ul class="sitemap-list">
            {{ macros::render_list_links(pages=section_info.pages) }}
        </ul>
    {% endif %}
    
    {% for subsection in section_info.subsections | sort %}
        {{ macros::render_sitemap(path=subsection, open=open, first_pass=false) }}
    {% endfor %}
{% elif config.base_url == "http://127.0.0.1:1111" or section_info.extra.show | default(value=true) %}
<details {% if open %}open{% endif %}>
    <summary><a href="{{ get_url(path="@/" ~ section_info.relative_path) }}">{{ section_info.title }}</a></summary>
    
    <ul class="sitemap-list">
        {{ macros::render_list_links(pages=section_info.pages) }}

        {% for subsection in section_info.subsections | sort %}
            {{ macros::render_sitemap(path=subsection, open=open, first_pass=false) }}
        {% endfor %}
    </ul>
</details>
{% endif %}
{% endmacro header %}


{#
    Iterates though the site's ancestors and renders lists for each.
#}
{% macro render_ancestors(ancestors) %}
<ul>
    {% for ancestor in ancestors | reverse %}
        {% set ancestor_info = get_section(path=ancestor) %}
        <li><a href="{{ get_url(path="@/" ~ ancestor_info.relative_path) }}">{{ ancestor_info.title }}</a></li>
    {% endfor %}
</ul>
{% endmacro header %}


{#
    Renders a page's siblings.
#}
{% macro render_siblings(for) %}
{% set ancestor_section = get_section(path=for.ancestors | last) %}
{% if ancestor_section.pages and ancestor_section.pages | length > 1 %}
<h3>Siblings</h3>
<nav class="sitemap">
    <ul class="sitemap-list">
        {{ macros::render_list_links(pages=ancestor_section.pages, exclude=for.relative_path) }}
    </ul>
</nav>
{% endif %}
{% endmacro header %}
