#barrel-card {
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	gap: var(--gap);
	display: flex;
	--scale: 1;
}

.barrel {
	height: calc(1.75 * var(--size) * var(--scale));
	width: calc(var(--size) * var(--scale));
	background-color: rgb(var(--color));
}

.barrel.large {
	border-radius: 30%;
	--scale: 1;
}


.barrel.medium {
	border-radius: 20%;
	--scale: 0.75;
}


.barrel.small {
	border-radius: 10%;
	--scale: 0.5;
}
