html {
	counter-reset: page;
}

.title {
	text-align: center;
}

@media print {
	article.v1 > :first-child {
		margin-block-start: -8px !important;
	}
}

@page {
	margin: 10mm;

	@bottom-center {
		content: "Page " counter(page) " of " counter(pages);
		padding-block-end: 2mm;
		font-size: 12px;
	}
}