#line-counting {
	display: flex;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	justify-self: center;
	width: 300px;
	height: 100px;
	overflow: clip;
}

.line {
	background-color: currentColor;
	aspect-ratio: 1;
}

.line.red {
	background-color: red;
}

.line.green {
	background-color: green;
}
