.tranaglyph {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 500px;
	background: #f6f6f6;
	overflow: hidden;
	font-size: 250px;
}

.tranaglyph-target {
	position: absolute;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.eye {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	user-select: none;
}

.left-eye {
	color: cyan;
	//mix-blend-mode: screen;
}

.right-eye {
	color: gold;
	//mix-blend-mode: screen;
}

.tranaglyph-target span {
	font-size: 100%;
}