.tranaglyph {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 500px;
	background: #f6f6f6;
	overflow: hidden;
	font-size: 250px;
}

.tranaglyph-target {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.eye {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	user-select: none;
	font-size: 100%;
	margin: auto;
}

.left {
	color: cyan;
	//mix-blend-mode: screen;
}

.right {
	color: gold;
	//mix-blend-mode: screen;
}

.inner-circle {
	font-size: 150px;
}

.outer-circle {
	font-size: 200px;
}

.center-cross {
	font-size: 50px;
}

.suppression-circle {
	font-size: 50px;
}

.suppression-square {
	font-size: 50px;
}

.satellite-circle {
	font-size: 50px;
}