@media (prefers-color-scheme: dark) {
    #right-eye {
		mix-blend-mode: difference;
	}
}

@media (prefers-color-scheme: light) {
    #right-eye {
		mix-blend-mode: darken;
	}
}

@media screen and (orientation: landscape) {
    :root {
		--body-width: calc(100vw - 40rem);
	}
}

:root {
	--scale: 1.65;
	--glyphScale: 1;
	--tranaglyphRed: red;
	--tranaglyphGreen: green;
	--baseSize: calc(4in * var(--scale));
	--glyphSize: calc(var(--baseSize) * var(--glyphScale));
}

#tranaglyph {
	min-height: calc(calc(var(--baseSize) * var(--glyphScale)) + 2in);
	position: relative;
	top: 3em;
	--delta: 0;
	--units: 1cm;
}

#tranaglyph.fusion {
	top: 0;

	* {
		mix-blend-mode: normal !important;
	}

	--tranaglyphRed: currentColor;
	--tranaglyphGreen: currentColor;

	.suppression-check {
		border-width: calc(var(--bsize)/1.5);
	}

	.satellite {
		display: none;
	}
}

.circle, .center, .suppression-check {
	--bsize: calc(var(--glyphSize) * 0.06);
	border-radius: var(--glyphSize);
	border: solid var(--bsize);
}

.circle, .center, .suppression-check, .points {
	transform: translate(-50%);
	height: var(--glyphSize);
	width: var(--glyphSize);
	position: absolute;
	left: 50%;
}

#left-eye, #right-eye {
	left: calc(50% + var(--delta) * var(--scale) * var(--units));
	transform: translate(calc(-50% + var(--delta) * var(--scale) * var(--units)));
}

#right-eye, #right-eye * {
	--units: -1cm;
	--tranaglyphColor: var(--tranaglyphGreen);
	border-color: var(--tranaglyphColor);
}

#left-eye, #left-eye * {
	--tranaglyphColor: var(--tranaglyphRed);
	border-color: var(--tranaglyphColor);
}

.inner {
	width: calc(var(--glyphSize) * .75);
	height: calc(var(--glyphSize) * .75);
	transform: translate(-47%, -50%);
	top: 50%;
}

#right-eye .inner {
	transform: translate(-53%, -50%);
}

#right-eye .satellite {
	top: -10%;
}

#right-eye .suppression-check {
	border-radius: 0.25cm;
	top: 22%;
}

.satellite {
	width: calc(var(--glyphSize) * .065);
	height: calc(var(--glyphSize) * .065);
	bottom: -10%;
}

.satellite.left {
	left: -7%;
}

.satellite.right {
	left: 107%;
}

.suppression-check {
	width: calc(var(--baseSize) * .03);
	height: calc(var(--baseSize) * .03);
	bottom: 22%;
}

.center {
	transform: translate(-50%, -50%);
	width: calc(var(--glyphSize) * .22);
	height: calc(var(--glyphSize) * .22);
	border-width: 0;
	top: 50%;
}

.center::after, .center::before {
	height: calc(var(--glyphSize) * .035);
	background: var(--tranaglyphColor);
	transform: translate(-50%, -50%);
	position: absolute;
	content: " ";
	width: 100%;
	left: 50%;
	top: 50%;
}

.center::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.center::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.points::before, .points::after {
	width: 0;
	height: 0;
	left: 50%;
	content: " ";
	position: absolute;
	transform: translate(-50%);
	--point: calc(var(--baseSize) * 0.05);
	top: calc(var(--point) * (-1) - var(--bsize));
	border-left: solid calc(var(--point) / 3) transparent;
	border-right: solid calc(var(--point) / 3) transparent;
	border-bottom: solid var(--point) var(--tranaglyphColor);
	border-top: none;
}

.points::after {
	bottom: calc(var(--point) * (-1) - var(--bsize));
	border-top: solid var(--point) var(--tranaglyphColor);
	border-bottom: none;
	content: " ";
	top: auto;
}

.summary-item:has(#scale-output) {
	text-indent: 0 !important;
	padding: 0 !important;
}

#scale-output {
	position: relative;
	width: var(--baseSize);
	border-left: 2px solid currentColor;
	border-right: 2px solid currentColor;
	text-align: center;
}

#scale-output::after {
	content: attr(data-value) "x 🡒 4in (10.16cm)";
	text-align: center;
}
