.table-wrapper {
	height: 100%;
}

#slap-tap {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
}

.symbol.red {
	color: rgb(var(--color-red));
}

.symbol.green {
	color: rgb(var(--color-green));
}

.symbol {	
	--scale: 0.5;
	--stroke: 3px;
	--border-width: 3px;

	position: relative;
	width: calc(var(--size) * calc(var(--scale) * 2));
	height: calc(var(--size) * calc(var(--scale) * 5));

	background-size: var(--border-width);
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, currentColor);
}

#slap-tap:not(.alt) .symbol::after,
#slap-tap:not(.alt) .symbol::before {
	border: var(--border-width) solid currentColor;
	box-sizing: border-box;
	position: absolute;
	height: var(--size);
}

#slap-tap:not(.alt) .right-hand:not(.left-hand)::before {
	border-radius: 0 var(--size) var(--size) 0;
	width: calc(var(--size) * var(--scale));
	border-left: none;
	content: "";
	left: 50%;
	top: 0;
}

#slap-tap:not(.alt) .left-hand:not(.right-hand)::before {
	border-radius: var(--size) 0 0 var(--size);
	width: calc(var(--size) * var(--scale));
	border-right: none;
	content: "";
	right: 50%;
	top: 0;
}

#slap-tap:not(.alt) .right-foot:not(.left-foot)::after {
	border-radius: 0 var(--size) var(--size) 0;
	width: calc(var(--size) * var(--scale));
	border-left: none;
	content: "";
	bottom: 0;
	left: 50%;
}

#slap-tap:not(.alt) .left-foot:not(.right-foot)::after {
	border-radius: var(--size) 0 0 var(--size);
	width: calc(var(--size) * var(--scale));
	border-right: none;
	content: "";
	right: 50%;
	bottom: 0;
}

#slap-tap:not(.alt) .left-hand.right-hand::before {
	border-radius: var(--size);
	width: calc(var(--size) * calc(var(--scale) * 2));
	margin: auto;
	content: "";
	right: 0;
	left: 0;
	top: 0;
}

#slap-tap:not(.alt) .left-foot.right-foot::after {
	border-radius: var(--size);
	width: calc(var(--size) * calc(var(--scale) * 2));
	margin: auto;
	content: "";
	bottom: 0;
	right: 0;
	left: 0;
}



#slap-tap.alt .symbol::after,
#slap-tap.alt .symbol::before {
	box-sizing: border-box;
	position: absolute;
	height: var(--size);
}

#slap-tap.alt .right-hand:not(.left-hand)::before {
	border: var(--border-width) solid currentColor;
	border-radius: 0 var(--size) var(--size) 0;
	width: calc(var(--size) * var(--scale));
	border-left: none;
	content: "";
	left: 50%;
	top: 0;
}

#slap-tap.alt .left-hand:not(.right-hand)::before {
	border: var(--border-width) solid currentColor;
	border-radius: var(--size) 0 0 var(--size);
	width: calc(var(--size) * var(--scale));
	border-right: none;
	content: "";
	right: 50%;
	top: 0;
}

#slap-tap.alt .right-foot:not(.left-foot)::after {
	width: calc(var(--size) * var(--scale));
	border-left: none;
	content: "";
	bottom: 0;
	left: 50%;

	background: transparent;
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
	outline: var(--stroke) solid currentColor;
	outline-offset: calc(-1 * var(--stroke));
	mask: linear-gradient(currentColor 0 0) content-box, linear-gradient(currentColor 0 0);
  	mask-composite: exclude;
  	padding: var(--stroke);
}

#slap-tap.alt .left-foot:not(.right-foot)::after {
	width: calc(var(--size) * var(--scale));
	content: "";
	right: 50%;
	bottom: 0;
	position: absolute;
	inset: 0;
	background: transparent;
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
	outline: var(--stroke) solid currentColor;
	outline-offset: calc(-1 * var(--stroke));
	mask: linear-gradient(currentColor 0 0) content-box, linear-gradient(currentColor 0 0);
  	mask-composite: exclude;
  	padding: var(--stroke);
}

#slap-tap.alt .left-hand.right-hand::before {
	border-radius: var(--size);
	border: var(--border-width) solid currentColor;
	width: calc(var(--size) * calc(var(--scale) * 2));
	margin: auto;
	content: "";
	right: 0;
	left: 0;
	top: 0;
}

#slap-tap.alt .left-foot.right-foot::after {
	width: calc(var(--size) * calc(var(--scale) * 2));
	margin: auto;
	content: "";
	bottom: 0;
	right: 0;
	left: 0;

	background: transparent;
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
	outline: var(--stroke) solid currentColor;
	outline-offset: calc(-1 * var(--stroke));
	mask: linear-gradient(currentColor 0 0) content-box, linear-gradient(currentColor 0 0);
  	mask-composite: exclude;
  	padding: var(--stroke);
}