.table-wrapper {
	height: 100%;
}

#slap-tap {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
}

.symbol {
	aspect-ratio: 1;
}

.symbol.red {
	color: rgb(var(--color-red));
}

.symbol.green {
	color: rgb(var(--color-green));
}
