@media screen and (min-width: 100rem) {
    :root {
		--body-width: calc(100vw - 40rem);
	}
}

.chart {
	justify-content: center;
	align-content: start;
	align-items: center;
	overflow-x: auto;
	gap: var(--gap);
	flex-wrap: wrap;
	display: flex;
	height: 100%;
}

.image {
	background-origin: content-box;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: var(--image-size);
	gap: var(--image-gap);
	justify-self: center;
	align-items: center;
	position: relative;
	text-align: center;
	width: min-content;
	aspect-ratio: 1;
	padding: 2em;
}

.image.left {
	transform: translateX(50%);
}

.image.right {
	transform: translateX(-50%);
}

.image.red::before {
	border: 2px solid rgb(var(--color-red));
	position: absolute;
	content: '';
	margin: auto;
	height: 8px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 0;
}

.image.green::before {
	border: 2px solid rgb(var(--color-green));
	position: absolute;
	content: '';
	margin: auto;
	height: 8px;
	width: 0;
	right: 0;
	left: 0;
	top: 0;
}

.image.red::after {
	border: 4px solid rgb(var(--color-red));
	border-radius: 50%;
	position: absolute;
	content: '';
	inset: 0;
}

.image.green::after {
	border: 4px solid rgb(var(--color-green));
	border-radius: 50%;
	position: absolute;
	content: '';
	inset: 0;
}
