@media screen and (min-width: 100rem) {
    :root {
		--body-width: calc(100vw - 40rem);
	}
}

#aperture-image-wrapper {
	justify-content: center;
	align-content: start;
	align-items: center;
	overflow-x: auto;
	gap: var(--gap);
	flex-wrap: wrap;
	display: flex;
	height: 100%;
}

.aperture-image {
	display: grid;
	padding: 1rem;
	overflow: clip;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	align-items: center;
	justify-self: center;
	gap: var(--image-gap);
	grid-template-columns: repeat(3, 1fr);
}

.image {
	height: var(--image-size);
	background-origin: content-box;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	justify-self: center;
	position: relative;
	aspect-ratio: 1;
	padding: 2em;
}

.image.red::before {
	border: 2px solid rgb(var(--color-red));
	position: absolute;
	content: '';
	margin: auto;
	height: 8px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 0;
}

.image.green::before {
	border: 2px solid rgb(var(--color-green));
	position: absolute;
	content: '';
	margin: auto;
	height: 8px;
	width: 0;
	right: 0;
	left: 0;
	top: 0;
}

.image.red::after {
	border: 4px solid rgb(var(--color-red));
	border-radius: 50%;
	position: absolute;
	content: '';
	inset: 0;
}

.image.green::after {
	border: 4px solid rgb(var(--color-green));
	border-radius: 50%;
	position: absolute;
	content: '';
	inset: 0;
}

.image.correct {
	cursor: pointer;
}

.image.correct:hover {
	filter: opacity(0.5);
}
