{% import "macros/macros.html" as macros %}
{% extends "partials/base.html" %}

{% block content %}
    <div class="header-wrap">
        <div class="sidebar-left header header-wrap">
            {% include "partials/summary.html" %}
            {% include "partials/toc.html" %}
        </div>

        <div class="sidebar-right">
            <h3>Ancestors</h3>
            <nav class="sitemap">
                {{ macros::render_ancestors(ancestors=page.ancestors) }}
            </nav>
            
            {{ macros::render_siblings(for=page) }}
            
            <div class="screen-large">
                <h3>Sitemap</h3>
                <nav class="sitemap">
                    {{ macros::render_sitemap(path="_index.md", open=false) }}
                </nav>
            </div>
        </div>
    </div>

    <article id="content" class="page">
        {{ page.content | safe }}
    </article>

    {% set css = load_data(path=page.path ~ "index.css", required=false) %}
    {% if css %}<style>article#content.page { {{ css | safe }} }</style>{% endif %}
{% endblock content %}
  