{% import "macros/macros.html" as macros %}
{% extends "partials/base.html" %}

{% block content %}
    <div class="header-wrap">
        <div class="sidebar-left header header-wrap">
            <div class="header-item">
                {% include "partials/summary.html" %}
            </div>
            <div class="header-item">
                {% include "partials/toc.html" %}
            </div>
        </div>

        <div class="sidebar-right">
            <h3>Ancestors</h3>
            <nav class="sitemap">
                {{ macros::render_ancestors(ancestors=page.ancestors) }}
            </nav>
            
            <h3>Siblings</h3>
            <nav class="sitemap">
                {{ macros::render_siblings(for=page) }}
            </nav>
            
            <div class="screen-large">
                <h3>Sitemap</h3>
                <nav class="sitemap">
                    {{ macros::render_sitemap(path="_index.md", open=false) }}
                </nav>
            </div>
        </div>
    </div>
    <article id="content">
        {{ page.content | safe }}
    </article>
{% endblock content %}
  