{% import "macros/macros.html" as macros %}
{% extends "partials/base.html" %}

{% block content %}
	<div class="header-wrap">
		<div class="sidebar-left header header-wrap">
			{% include "partials/summary.html" %}
			{% include "partials/toc.html" %}
		</div>

		<div class="sidebar-right header">
			<div class="header-item defer">
				<h3 class="sitemap-title header-title">Ancestors</h3>
				<nav class="sitemap condensed">
					{{ macros::render_ancestors(ancestors=section.ancestors) }}
				</nav>
			</div>

			<div class="header-item defer">
				<h3 class="sitemap-title">Subsections</h3>
				<nav class="sitemap condensed">
					{{ macros::render_sitemap(path=section.relative_path, open=false) }}
				</nav>
			</div>
			
			<div class="header-item screen-large">
				<h3 class="sitemap-title">Sitemap</h3>
				<nav class="sitemap">
					{{ macros::render_sitemap(path="_index.md", open=false) }}
				</nav>
			</div>
		</div>
	</div>

	{% set site_version = page.extra.site_version | default(value=1) %}
	<article id="content" class="section v{{ site_version }}">{{ section.content | safe }}</article>
{% endblock content %}