{% import "macros/macros.html" as macros %}
{% extends "partials/base.html" %}

{% block content %}
    <div class="header-wrap">
        <div class="sidebar-left header header-wrap">
            <div class="header-item">
                {% include "partials/summary.html" %}
            </div>
            <div class="header-item">
                {% include "partials/toc.html" %}
            </div>
        </div>
        
        <div class="sidebar-right">
            <h3>Ancestors</h3>
            <nav class="sitemap">
                {{ macros::render_ancestors(ancestors=section.ancestors) }}
            </nav>

            {% if section.subsections | length > 0 or section.pages | length > 0 %}
                <h3>Subsections</h3>
                <nav class="sitemap">
                    {{ macros::render_sitemap(path=section.relative_path, open=false) }}
                </nav>
            {% endif %}

            <div class="screen-large">
                <h3>Sitemap</h3>
                <nav class="sitemap">
                    {{ macros::render_sitemap(path="_index.md", open=false) }}
                </nav>
            </div>
        </div>
    </div>

    <article id="content">
        {{ section.content | safe }}
    </article>
{% endblock content %}

