.page {
	justify-content: center;
	padding-bottom: 3rem;
	margin-bottom: -3rem;
	align-items: center;
	overflow-x: auto;
	display: flex;
}

.chart {
	height: calc(var(--radius) * 2);
	position: relative;
	aspect-ratio: 1;
}

.line {
	transform-origin: bottom center;
	background: rgb(var(--color-text));
	height: var(--radius);
	position: absolute;
	width: 2px;
	left: 50%;
	top: 50%;
}

.center-mask {
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 50%;
	position: absolute;
	aspect-ratio: 1;
	width: var(--center-radius);
	left: 50%;
	top: 50%;
}

.number {
	transform: translate(-50%, -50%);
	position: absolute;
	font-weight: bold;
	font-size: 26px;
}