.table-wrapper {
	height: 100%;
}

#shape-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
}

.shape {
	overflow-y: clip;
	aspect-ratio: 1;
}

.shape.red {
	color: red;
}

.shape.green {
	color: green;
}
