.page {
    justify-content: center;
	padding-bottom: 3rem;
    margin-bottom: -3rem;
	align-items: center;
	overflow-x: auto;
	display: flex;
}

#shape-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	justify-self: center;
}

.shape {
	aspect-ratio: 1;
	position: relative;
	height: var(--size);
	width: var(--size);
}

.shape.red {
	color: rgb(var(--color-red));
}

.shape.green {
	color: rgb(var(--color-green));
}

.shape::after,
.shape::before {
	
	background: currentColor;
	mask-repeat: no-repeat;
	box-sizing: border-box;
	position: absolute;
}

.shape.circle::before {
	mask-image: url('circle-fill.svg');
	mask-position: bottom;
	content: "";
	inset: 0;
}

.shape.triangle::before {
	mask-image: url('triangle-fill.svg');
	mask-position: bottom;
	content: "";
	inset: 0;
}

.shape.diamond::before {
	mask-image: url('diamond-fill.svg');
	mask-position: bottom;
	content: "";
	inset: 0;
}

.shape.square::before {
	mask-image: url('square-fill.svg');
	mask-position: bottom;
	content: "";
	inset: 0;
}

.shape.star::before {
	mask-image: url('star-fill.svg');
	mask-position: bottom;
	content: "";
	inset: 0;
}