.table-wrapper {
	height: 100%;
}

#arrow-chart {
	display: grid;
	line-height: 1;
	aspect-ratio: 1;
	font-weight: 600;
	text-align: center;
	width: min-content;
	height: min-content;
	justify-self: center;
}

.shape {
	aspect-ratio: 1;
}

.shape.red {
	color: rgb(var(--color-red));
}

.shape.green {
	color: rgb(var(--color-green));
}
