# Github Pages action
name: Build and Deploy GH Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows running the workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          ssh-key: '${{ secrets.NOTES_SSH_KEY }}'

      - name: Deploy to gh-pages branch
        uses: shalzz/zola-deploy-action@v0.22.0
        env:
          # Target branch
          PAGES_BRANCH: gh-pages
          # Provide personal access token
          TOKEN: ${{ secrets.TOKEN }}
